.btn-signup{
    background: #1572D3;
  color: white;
  height: 35px;
  font-size: 14px;
}
.text-logo{
    color: #1572D3;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    

}
.text-header{
    color: #484848;
    font-family: Poppins;
font-size: 16px;
font-weight: 500;
line-height: 24px;
text-align: left;
}
.img-logo{
    width: 24px;
    height: 25.72px;
    padding: 0px;
    gap: 0px;
    opacity: 0px;
    

}